Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
*.pyo
*.VC.db
*.VC.opendb
.vs/*
.vscode/
*.o
*slang-dump-*
*.mp4
Source/Externals/.packman/*
Media
Tools/.packman
Tests/data
Output/
*.tlog
*.csv
*.png
*.exr
.idea/*
*.eps
*.ai
*.pdf
*.pfm
__pycache__/
Source/Mogwai/Data/figures/
Source/Mogwai/Data/NeighborCountAblation_combined/
Source/Mogwai/Data/NeighborCountAblation_Figures/
